@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(255, 241, 225);
  color: rgb(9, 4, 27);
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.wrapper {
  width: 1280px;
  margin: 50px auto;
}

header {
  position: relative;
  background-color: rgb(3, 108, 73);
}

header .logo {
  font-weight: 900;
  font-size: 25px;
  color: antiquewhite;
  margin-left: 35px;
  margin-top: 5px;
}

header ul.nav {
  float: right;
  font-weight: 400;
  font-size: 20px;
  list-style: none;
  margin-top: 5px;
}

header ul.nav li {
  display: inline;
  margin-left: 15px;
  margin-right: 20px;
  margin-bottom: 70 0px;
  cursor: pointer;
  transition: opacity 500mc ease;
}

header ul.nav li:hover {
  opacity: 0.5;
}

header .shop-cart-button {
  float: right;
  cursor: pointer;
  margin-top: 10px;
  color: antiquewhite;
  transition: color, transform 500ms ease;
}

header .shop-cart-button:hover,
header .shop-cart-button:active {
  color: rgb(172, 74, 4);
  transform: scale(1.5);
  margin-top: 10px;
}

header .shop-cart {
  position: absolute;
  top: 10 px;
  right: 0px;
  width: 215px;
  padding: 10px;
  padding-bottom: 5;
  background: rgb(141, 249, 173);

  box-shadow: 6px 14px 29px -9px rgba(0, 0, 0, 0.64);
  -webkit-box-shadow: 6px 14px 29px -9px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 6px 14px 29px -9px rgba(0, 0, 0, 0.64);
  z-index: 2500;
}

header .shop-cart .empty h4 {
  font-size: 16px;
  margin-bottom: 15px;
}

header .shop-cart .item {
  width: 100%;
  float: left;
  margin-bottom: 12px;
  padding-bottom: 0px;
}

header .shop-cart .item img {
  width: 70px;
  float: left;
  margin-right: 20px;
}

header .shop-cart .item h2 {
  font-size: 12px;
  margin-bottom: 10px;
}

header .shop-cart .item b {
  color: rgb(9, 4, 27);
  font-weight: 600;
}

header .shop-cart .item .delete-icon {
  color: rgb(9, 4, 27) e;
  float: right;
  position: relative;
  top: -25;
  cursor: pointer;
  transition: color, transform 500ms ease;
}

header .shop-cart .item .delete-icon:hover {
  color: rgb(1, 58, 58);
  transform: scale(1.5);
}

header .shop-cart .summa {
  float: right;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;
}

header .presentation {
  margin: 50px 0;
  background: url('./img/tixii\ okean.jpg') no-repeat;
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  background-color: rgb(3, 119, 128);
  position: relative;
}

header .presentation::after {
  content: 'New Zealand marketplace';
  position: absolute;
  top: 100px;
  left: 100px;
  width: 300px;
  font-size: 20px;
  font-weight: 600;
  color: antiquewhite;
}

header .presentation::before {
  content: 'shop online';
  position: absolute;
  top: 200px;
  left: 100px;
  width: 300px;
  font-size: 16px;
  font-weight: 300;
  color: azure;
}

.categories div {
  display: inline;
  background: rgb(172, 74, 4);
  color: antiquewhite;
  border-radius: 50px;
  padding: 10px 20px;
  margin-bottom: 20px;
  margin-right: 15px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 500ms ease;
}

.categories div:hover {
  border-color: antiquewhite;
  transform: scale(1.5);
}

main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}

main .item {
  width: 30%;
  margin-bottom: 30px;
  background: rgb(250, 225, 193);
  overflow: hidden;
  position: relative;
  padding-bottom: 20px;
}

main .item img {
  width: 100%;
  border-radius: 20px 0 20px 0;
  transition: transform 500ms ease;
  cursor: pointer;
}

main .item img:hover {
  transform: scale(1.09);
}

main h2,
main p,
main b {
  margin: 10px 20px;
  color: rgb(47, 27, 1);
}

main b {
  color: rgb(21, 3, 86) !important;
  text-align: center !important;
  font-size: 30px !important;
  font-weight: 500 !important;
}

main .add-to-cart {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: rgb(172, 74, 4);
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  color: antiquewhite;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 800;
  font-size: 25px;
  transition: transform 500ms ease;
}

main .add-to-cart:hover {
  transform: scale(1.5) translate(-5px);
}

footer {
  display: flex;
  flex-direction: column;

  flex-wrap: wrap;
  flex: 1;
  justify-content: space-between;
  width: 100%;

  margin-top: 50px;
  background-color: rgb(3, 108, 73);
  color: antiquewhite;
}

.main-footer {
  display: flex;
  float: left;
  min-height: 50px;
  background-position: center center;
  background-blend-mode: multiply;
  background-color: rgb(3, 119, 128);
  position: relative;
}

.row-footer {
  text-align: center;
  margin: 20px;
}

.col-footer {
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.list-unstyled-footer {
  text-align: center;
}
